[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = A4880163D791647A
	singningkey = A4880163D791647A
[commit]
	gpgsign = true
[core]
	autocrlf = input
[http]
	postBuffer = 524288000
[gpg]
	program = /opt/homebrew/bin/gpg
[gitbutler]
	aiModelProvider = openai
